/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @font-face {
  font_family: 'Kankin';
  src:url(Kankin.otf);
  font-weight: normal;
  font-style: normal;
 }

#container {
  width: 720px;
  padding: 20px;
  margin: auto;
  background: white;
  border: 1px solid gray;
  text-align: center;
}

#nav {
  list-style: none;
}

#nav li {
  display: inline;
  padding-right: 20px;
}

.poster {
  position: absolute;
  left: 15%;
  top: 5%;
  width: 66%;
  height: 100%;
  text-align: center;
  border: 2px solid #713a1b;
  background-color: #e4ce9c;
  height: 100%;
  background:image-url('blackkeys.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: .95;
}

.title h1{
  font-size: 700%;
  font-family: 'Kankin';
  color: #498377;
  -webkit-transform:rotate(-10deg);
  margin-bottom: 0;
  text-shadow: 2px 2px #8e5738;
}

.title h2{
  margin: 0;
  font-size: 300%;
  font-family: 'Kankin';
  color: #8e5738;
  -webkit-transform:rotate(-10deg);
  text-shadow: 2px 2px #498377;
}

.nav {
  position: absolute;
  right: 1%;
}

.q_list {
  font-family: 'Kankin';
  margin-top: 7%;
}

.q_list ul{
  list-style-type: none;
}

.q_list a{
  margin-right: 1%;
  font-size: x-large;
  text-decoration: none;
  color: #498377;
  float: left;
}

.q_list p{
  font-size: x-large;
  margin: 0;
  color: #8e5738;
  float: left;
  font-family: 'Kankin';
}

.gos img{
  position: fixed;
  bottom: -20%;
  height: 25%;
  width: auto;
}
